.menu {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #000;
}

.inner {
  background-color: #fff;
  width: 100%;
  max-width: 50%;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
}