@import ../../sass/helpers/mixins
@import ../../sass/helpers/variables

.form
  padding: 20px
  border-radius: 10px
  border: 2px solid $gray
  &__title
    margin-bottom: 1em
  &__field
    +notlast
      margin-bottom: 1em